* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

:root {
  --background: linear-gradient(rgba(135, 60, 255, 0.4), rgba(135, 60, 255, 0.0) 80%), linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 75%);
  --main-font-family: 'Dongle', 'Arial', sans-serif;
  --big-font-size: 52px;
  --settings-input-primary-color: #FFBCA2;
  --settings-input-secondary-color: #ccc;
  --footer-text-color: #68625f;
  --footer-font-size: 30px;
  --game-buttons-color: #FFBCA2;
  --game-buttons-hover-color: #fd8a5c;
}

body {
  min-height: 100vh;
  font-family: var(--main-font-family);
  font-size: var(--big-font-size);
  line-height: var(--big-font-size);
  background: var(--background);
}

body:has(dialog[open]) {
  overflow: hidden;
}

.hidden {
  height: 0;
  overflow: hidden;
}

section {
  transition: 0.8s;
  padding: 10px;
}

.retracted {
  transform: translate(-100vw);
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  row-gap: 45px;
}

.title {
  font-size: 72px;
  line-height: 34px;
  align-self: center;
  margin-bottom: 70px;
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

ul {
  list-style: none;
}

button {
  font-family: var(--main-font-family);
  font-size: var(--big-font-size);
  border: none;
  transition: 0.5s;
  cursor: pointer;
}